<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/myCourses.css">
</head>

<body>
  <div id="footer">
    <img src="https://assets.brandfetch.io/d28374c7d5ca42b.png" class="course-img" />
    <div id="initial" style="padding: 5px;">M</div>
  </div>
  <div id="show_courses_jb">
  </div>
</body>

</html>
<script src="/js/myCourse.js"></script>